@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@model (CEP, Dictionary<string, string>, List<Comment>)

<script src="https://api-maps.yandex.ru/2.1/?apikey=cc3c9a92-a823-4e4b-a881-463ee9054726&lang=ru_RU" type="text/javascript"></script>
<script src="~/js/map.js" type="text/javascript"></script>

<script type="text/javascript">
    let map = new Map();
    ymaps.ready(function () {
        let cep = @Html.Raw(Json.Serialize(Model.Item1));
        map.Init().then(function () {
            map.Add([cep], false);
            map.Focus(cep.id);
        });
    });
</script>



<div class="container">
    <div class="row">
        <div class="col-sm pt-3">
            <div id="map" class="border border-light border-3 rounded-3" style="width: 100%; height: 500px;"></div>     @*Карта*@
        </div>

        <div class="col-sm pt-3" style="font-size: x-large">
            @*Инфа*@
            @foreach (var pair in Model.Item2)
            {
                <p class="mb-0">
                    <span style="font-weight: bold">
                        @string.Concat(pair.Key, ": ")
                    </span>
                    <span>
                        @pair.Value
                    </span>
                </p>
            }
        </div>
    </div>
</div>

<div>
    @if (Model.Item3.Count != 0)@*Комменты*@
    {
        @foreach (var comment in Model.Item3)
        {
            <div class="big-margin border border-3 rounded-3 p-2" style="border-color: #7b8ab8 !important">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h6 style="font-size: large">
                        @comment.UserName
                    </h6>

                    <div class="d-flex justify-content-end">
                        @for (int i = 0; i < comment.Rating; i++)
                        {
                            <img src="~/res/yes.png" height="30" />
                        }
                    </div>
                </div>

                <p style="font-size: large">
                    @comment.Text
                </p>
            </div>
        }
    }
</div>



<script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/rating")
        .build();

    hubConnection.on("GetRating", function (rating) {
        document.getElementById("first_button").style.display = 'None';
        document.getElementById("final_div").style.display = 'Block';
        SetRating(rating); 
    });

    function SendRating() {
        let message = document.getElementById("rating_textarea").value;
        hubConnection.invoke("SendRating", message);
    }

    function SetRating(rating) {
        document.getElementById("hidden_rating").value = rating;
        SetVisualRating(rating);
    }

    function SetVisualRating(rating = document.getElementById("hidden_rating").value) {
        let images = Array.from(document.getElementsByClassName("ratingimage")).sort(r => r.dataset.rating);

        let i = 0;
        for (; i < rating; i++) {
            images[i].src = '/res/yes.png';
        }
        for (; i < 5; i++) {
            images[i].src = '/res/no.png';
        }
    }

    hubConnection.start();
</script>

@if (User.Identity.IsAuthenticated)
{
    <div class="big-margin border border-3 rounded-3 p-2" style="border-color: #7b8ab8 !important">
        <form method="post">
            <textarea id="rating_textarea" class="form-control" name="comment.Text"></textarea>

            <input type="hidden" name="comment.UserName" value="@User.Identity.Name">
            <input type="hidden" name="comment.UserId" value="@userManager.GetUserId(User)">
            <input id="hidden_rating" type="hidden" name="comment.Rating">
            <input type="hidden" name="comment.CEPId" value="@Model.Item1.Id">

            <input id="first_button" class="btn" type="button" value="Отправить" onclick="SendRating()" />

            <div id="final_div" style="display: none">
                <div class="d-flex justify-content-around align-items-center my-2">
                    <img height="50" class="ratingimage" src="/res/no.png" data-rating="1" onclick="SetRating(event.target.dataset.rating)" onmouseover="SetVisualRating(event.target.dataset.rating)" onmouseout="SetVisualRating()"/>
                    <img height="50" class="ratingimage" src="/res/no.png" data-rating="2" onclick="SetRating(event.target.dataset.rating)" onmouseover="SetVisualRating(event.target.dataset.rating)" onmouseout="SetVisualRating()"/>
                    <img height="50" class="ratingimage" src="/res/no.png" data-rating="3" onclick="SetRating(event.target.dataset.rating)" onmouseover="SetVisualRating(event.target.dataset.rating)" onmouseout="SetVisualRating()"/>
                    <img height="50" class="ratingimage" src="/res/no.png" data-rating="4" onclick="SetRating(event.target.dataset.rating)" onmouseover="SetVisualRating(event.target.dataset.rating)" onmouseout="SetVisualRating()"/>
                    <img height="50" class="ratingimage" src="/res/no.png" data-rating="5" onclick="SetRating(event.target.dataset.rating)" onmouseover="SetVisualRating(event.target.dataset.rating)" onmouseout="SetVisualRating()"/>
                </div>

                <input class="btn" type="submit">
            </div>
        </form>
    </div>
}
